#login-box {
    border: 1px solid rgb(13, 222, 237);
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    background: rgba(235, 243, 242, 0.81);
    padding: 20px 50px;
}
#login-box h1 {
    color: rgb(69, 212, 207);
}
#login-box .form .item input {
    width: 200px; 
    border: 0;
    border-bottom: 5px solid rgb(165, 242, 222); 
    font-size: 18px; 
    background:rgba(235, 243, 242, 0.81); 
    color: rgb(5, 144, 144); 
    padding: 5px 10px; 
}

#login-box .form .item i {
    color: white;
    font-size: 18px;
}
#login-box button {
    border: 0;
    width: 150px; 
    height: 30px;
    margin-top: 18px; 
    font-size: 18px;
    color: white; 
    border-radius: 25px; 
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%); 
}
